#include "Eightpad-layouts.dtsi"
#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&xiao_d 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&xiao_d 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&xiao_d 6 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&xiao_d 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&xiao_d 8 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&xiao_d 9 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
            <&xiao_d 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

/ {
    matrix_transform0: matrix_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <11>;
        rows = <11>;
        map = <
        //   Key 1 | Key 2 | Key 3
            RC(10,10) RC(1,1) RC(0,0)
        //   Key 4 | Key 5 | Key 6
            RC(9,9) RC(6,6) RC(2,2)
        //   Key 7 | Key 8 | Key 9
            RC(8,8) RC(7,7) RC(4,4)
        >;
    };
};
