#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default {
            bindings = <
                &none     &bootloader
                &kp BSPC    &kp UP    &kp DEL
                &kp LEFT    &kp DOWN    &kp RIGHT
            >;
        };
    };
};